<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.zfit.pocketbase</string>

  <key>ProgramArguments</key>
  <array>
    <string>./pocketbase</string>
    <string>serve</string>
    <string>--http</string>
    <string>0.0.0.0:8090</string>
  </array>

  <key>WorkingDirectory</key>
  <string>__HOME__/dev/zFit/pocketbase_0</string>

  <key>KeepAlive</key>
  <true/>

  <key>StandardOutPath</key>
  <string>__HOME__/Library/Logs/zfit-pocketbase.log</string>

  <key>StandardErrorPath</key>
  <string>__HOME__/Library/Logs/zfit-pocketbase.log</string>
</dict>
</plist>
